.input-boxes {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    /*margin-bottom: 10px;*/
    bottom: 15px;
}

.form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.shadow-lg {
    border-radius: 1em;
}

.login-container {
    width: 30%;
}